![](Aspose.Words.a8bdecc3-5c64-4893-8836-037ca7597eef.001.png) ![](Aspose.Words.a8bdecc3-5c64-4893-8836-037ca7597eef.002.png)    ![](Aspose.Words.a8bdecc3-5c64-4893-8836-037ca7597eef.003.png) ![](Aspose.Words.a8bdecc3-5c64-4893-8836-037ca7597eef.004.png)![](Aspose.Words.a8bdecc3-5c64-4893-8836-037ca7597eef.005.png)![](Aspose.Words.a8bdecc3-5c64-4893-8836-037ca7597eef.006.png)![](Aspose.Words.a8bdecc3-5c64-4893-8836-037ca7597eef.007.png)

Certificate  of  Completion![](Aspose.Words.a8bdecc3-5c64-4893-8836-037ca7597eef.008.jpeg)

This is to certify that  

**Mr. MOHIT KUMAR SAHOO**

of 4th semester of Electrical & Electronics Engineering branch, bearing                          SIC No. 20BEEB08 has successfully completed the Summer Internship Course-2022 on        

“Digital CMOS VLSI Design and Verification: Verilog HDL and Full-Custom Approach” from 

27\.06.2022 to 22.07.2022 at Silicon Institute of Technology, Bhubaneswar.

![](Aspose.Words.a8bdecc3-5c64-4893-8836-037ca7597eef.009.png) ![](Aspose.Words.a8bdecc3-5c64-4893-8836-037ca7597eef.010.png)

**Course Coordinator  Principal**
